flask==3.0.3
gunicorn==21.2.0
mysql-connector-python==9.0.0

tensorflow==2.15.0
numpy==1.26.4

opencv-python-headless==4.10.0.84
joblib==1.4.2
scikit-learn==1.5.1

nibabel==5.2.1
praat-parselmouth==0.4.5
nolds==0.5.2
neurokit2==0.2.10

matplotlib==3.9.2
reportlab==4.2.5
scikit-image==0.24.0
